<!-- Banner -->
<section id="banner" class="parallex-bg section-padding">
	<div class="container">
    	<div class="intro_text white-text div_zindex">
    		<h1>Welcome to IndiaBizForSale</h1>
	        <h5>Most preferred network to buy, sell, fund and grow businesses in India</h5>
            <div class="search_form">
            	<form action="listing-grid-map.html" method="get">
                	<div class="form-group select">
                   		<select class="form-control">
                	    	<option>What are you looking for?</option>
            	            <option>Real Estate</option>
                            <option>Restaurant</option>
                            <option>Real Estate</option>
        	                <option>Health & Fitness</option>
    	                    <option>Beauty & Spas</option>
                            <option>Hotels & Travel</option>
                            <option>Automotive</option>
	                    </select>
                    </div>
                    <div class="form-group">
                   		<input type="text" class="form-control" placeholder="Locaton">
                    </div>
                    <div class="form-group search_btn">
                    	<input type="submit" value="Search" class="btn btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>
<!-- /Banner -->
<!-- Popular-Cities/Towns -->
<section id="popular_cities" class="section-padding">
	<div class="container">
    	<div class="section-header text-center">
        	<h2>Most Popular Cities/Towns</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>

        <div class="row">
					<div class="col-sm-6 col-md-3" ng-repeat="item in main.cities">
						<div class="cities_list" ng-class="item.class">
									<div class="city_listings_info">
										<h4>{{item.name}}</h4>
											<div class="listing_number"><span>{{item.count}} Listings</span> </div>
									</div>
									<a href="#!/sale" class="overlay_link"></a>
							</div>
					</div>
        </div>
        <div class="text-center">
        	<a href="#" class="btn">View More Cities / Towns</a>
        </div>
    </div>
</section>
<!-- /Popular Cities/Towns -->
